<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 
    ================================================================================
    @author     Saurav Wahid<saurav@medisys.com.sa>
    @web        www.javabase.org
    @version    1.0.1
    @since      1.0.0
    ================================================================================
    -->
<mapper namespace="org.javabase.apps.mapper.SalseInvoiceMapper">

    <resultMap id="list" type="SalseInvoice">
        <result property="salId"       column="sal_id" />
        <result property="invoice"     column="invoiceId" />
        <result property="product"     column="product" />
        <result property="quantity"    column="quantity" />
        <result property="unitPrice"   column="unit_price" />
        <result property="salsePrice"  column="salse_price" />
        <result property="discount"    column="discount" />
        <result property="dateTime"    column="date" />
    </resultMap>
    
    <select id="selectSalseInvoice" resultMap="list">
        select * from salse_invoice
    </select>
    
    
    <insert id="insert" parameterType="SalseInvoice">
    INSERT INTO salse_invoice(
        invoiceId,
        product,
        quantity,
        unit_price,
        salse_price,
        discount,
        date
    )
    values(
        #{invoice},
        #{product},
        #{quantity},
        #{unitPrice},
        #{salsePrice},
        #{discount},
        #{dateTime}
    )
    </insert>
    
    
</mapper>